<div class="bar">

    <div class = "logoDiv">
        <!--Logo-->
        <img src="images/Logo.png" alt="logo" class = "logo"> 
    </div>

    <div class = "buttonDiv">
        <!--Main Page-->
        <form action="/shop" method="get"> 
            <button type = "submit"> Home </button> 
        </form>

        <!--Profile-->
        <form action="/profile" method="get"> 
            <button type = "submit"> Profile </button> 
        </form>

        <!--Cart-->
        <form action="/viewCart" method="get"> 
            <button type = "submit"> Cart </button> 
        </form> 
    </div>
      
</div>